#rozdelenie_dph td {
  border: 2px solid
}

#rozdelenie_dph td.crossed
{
  background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), black, transparent calc(50% + 1px));
}

.ui-autocomplete {
  width: inherit;
  position: absolute;
  z-index: 1000;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.ui-autocomplete > li {
  padding: 6px 12px;
  cursor: pointer;
  cursor: hand;
  transition: background-color ease-in-out 0.15s;
}

.ui-autocomplete > li.terminated {
  text-decoration: line-through;
}

.ui-autocomplete > li.ui-state-focus {
  background-color: rgb(238, 238, 238);
}

.ui-helper-hidden-accessible {
  display: none;
}
